
.jumbotron {
  background-image:
  url("/images/istockphoto-697120006-1024x1024.jpg");
  min-height: 400px;
  background-color: #cccccc;
  background-position:
  bottom,
  bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;

   color: white;
   text-align: center;
}

h1 {
  color: inherit;
  font-weight: bold;
  font-family: 'Roboto Mono', serif;
}

h2 {
  color: #70aeee;
  font-family: 'Roboto Mono', serif;
}

.nav-text {
  color: white;
  font-size: 1.3em!important;
}

.nav-link{
  color:white!important;
}

.navbar-dark .navbar-nav a.nav-link:hover {
  color: #70aeee;
  text-shadow: 0px 0px 5px white, 0px 0px 10px #70aeee, 0px 0px 15px #70aeee, 0px 0px 30px #70aeee ;
  transition: all 0.2s ease-in;
}


h3 {
  color: #4682B4;
  font-family: 'Roboto Mono', serif;
  font-size: 1.2em!important;
}

a {
  color: white;
}

a:hover{
  color: #70aeee;
  text-decoration: none;
}

body {
  color: #666666 !important;
}

#graph {width: 100%; opacity:0.5}

.jumbotron .container {background-color:rgba(52, 58, 64, 0.5); color: white;}


.nav-link {
  font-family: 'Roboto Mono', serif;
}

.social_icon img {
  height: 1.5em;
  filter: grayscale(100%);
  transition: 0.1s ease-in;
}

.social_icon:hover img {
  filter: grayscale(0%);
  transform: scale(1.2);
}

.our-values {
  text-align: center;
}

.our-values img {
  margin: 1em;
  width: 100px;
}

.our-values p {
  text-align: left;
}