<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="#">{% asset SouthCoastLogo.png style="width: 150px;" %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link mr-3" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="/about/">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="/products/">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="/platform/">Our Platform</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="/resources/">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="/contact/">Contact</a>
            </li>
        </ul>
    </div>
</nav>