<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand mr-0" href="/" style="font-family: 'Roboto Mono', serif; font-size: 1rem;">
        <img src="/images/SouthCoastLogoSquare.svg" alt="" style="width: 32px;"/>
        South Coast Science
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link mr-3" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="/about/">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="/products/">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="/platform/">Our Platform</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="/resources/">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="/contact/">Contact</a>
            </li>
        </ul>
    </div>
</nav>
	<nav aria-label="breadcrumb bg-white m-0">
        <ol class="breadcrumb d-flex justify-content-end m-0 pt-0">
        {% for breadcrumb in page.breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
        {% endfor %}
        </ol>
    </nav>