<div class="bg-light pt-5 pb-5">
<h2 class="text-center">Our values</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4 our-values mt-3">
            <div>
                <img src="/images/module-hand-puzzle.svg" alt=""/>
                <h3>Open Source</h3>
            </div>
            <p>We are proud that all South Coast Science software and data
                protocols are open source; we actively encourage both our
                competitors and corresponding organisations to adopt and use our products.</p>
        </div>
        <div class="col-md-4 our-values mt-3">
            <div>
                <img src="/images/ecology-globe-leaf.svg" alt=""/>
                <h3>Global Sustainability</h3>
            </div>
            <p>
                South Coast Science's devices contribute to the UN's sustainable development goals by helping
                organisations and cities monitor and better understand their impact on air quality. Improving
                air quality improves human health and the environment.
            </p>
        </div>
        <div class="col-md-4 our-values mt-3">
            <div>
                <img src="/images/key-lock.svg" alt=""/>
                <h3>Secure and Reliable</h3>
            </div>
            <p>
                South Coast Science’s products are secure, reliable, flexible and scalable, both in terms of
                data and device management. Security is designed into our systems from the beginning, never
                an afterthought.
            </p>
        </div>
    </div>
</div>
</div>