---
layout: theme
---

<div class="container">
    {{ content }}
    <div class="border mt-5 mb-5"></div>
</div>
    <div class="container">
        <div class="row">
            {% for person in site.people %}
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ person.image }}" class="rounded w-100" alt="title">
                    </div>
                    <div class="col-md-6">
                        <h3>{{ person.name }}</h3>
                        <p>{{ person.role }}</p>
                        {% if person.linkedin %}
                            <a href="{{ person.linkedin }}" class="social_icon linkedin"><img src="/images/professional-network-linkedin-color.svg" alt="LinkedIn profile for {{ person.name }}"/></a>
                        {% endif %}
                    </div>
                </div>
                <p>{{ person.content | markdownify }}</p>
            </div>
            {% endfor %}
        </div>
    </div>