<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/stylesheet.css"/>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
		<meta name="robots" content="noindex">
	</head>
<body>
		{% include navigation.html %}
		{% include header.html %}
		{{ content }}
		<footer class="footer bg-dark p-3">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h2 class="h5">Contact</h2>
						<p><p><a href="tel:+441273683758">Phone: +44 (0)1273 683 758</a></p>
						<a  href="mailto:contact@southcoastscience.com</p>">contact@southcoastscience.com</a></p>
						<p>The FuseBox, Unit D-E, Level 4<br>
							New England House<br>
							New England Street<br>
							Brighton BN1 4GH<br>
							United Kingdom </p>
					</div>

					<div class="col-md-4">
						<h2 class="h5">Links</h2>
						<nav>
					     <ul class="list-unstyled">
							<li>
								<a href="/">Home</a>
							</li>
							<li>
								<a href="/about/">About Us</a>
							</li>
							<li >
								<a href="/products/">Products</a>
							</li>
							<li>
								<a href="/platform/">Our Platform</a>
							</li>
							<li>
								<a href="/resources/">Resources</a>
							</li>
							<li>
								<a href="/contact/">Contact</a>
							</li>
							<li>
						 <a href="/About-South-Coast-Science-V6.pdf" alt="About-South-Coast-Science"><img src="/images/office-file-pdf-1.svg" style="width:50px; height: auto"> Company Profile (PDF)</a>
							</li>
						</ul>
						</nav>
					</div>
					<div class="col-md-4">
						<img src="/images/SouthCoastLogo.svg" class="w-100" alt="South Coast Science logo">

						<p><small>South Coast Science Limited is registered in England, company number 10235767.
						VAT number GB 250 1244 55.
						</small>
						</p>
					</div>


				</div>
			</div>
		</footer>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<script>
			google.charts.load('current', {packages: ['corechart', 'line']});
			google.charts.setOnLoadCallback(drawGraph);

			function drawGraph() {
				  var data = new google.visualization.DataTable();
				  data.addColumn('number', 'X');
				  data.addColumn('number', 'CO2');

						for (var i = 0; i < 500; i++) {
						data.addRows([[i,Math.random()*20*(20+i)]])
				  }


				  var options = {
					hAxis: {
					  title: 'Time',
					  gridlines: {
						color: 'transparent'
					  }
					},
					vAxis: {
					  title: 'ppm CO₂',
					  gridlines: {
						color: 'transparent'
					  }
					},
				    series: {
						0: { color: '#000000' },
				   },
				   	backgroundColor: {fill:'transparent'},
				   	chartArea: {'width': '100%', 'height': '60%'},
				  };

				  var chart = new google.visualization.LineChart(document.getElementById('graph'));
				  chart.draw(data, options);
				}

			window.addEventListener('resize', drawGraph);
		</script>
</body>

</html>