<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/stylesheet.css"/>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://www.gstatic.com/charts/loader.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
		<meta name="robots" content="noindex">
	</head>
<body>
		{% include navigation.html %}
		{% include header.html %}
		<div class="container">
			<nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-light">
			{% for breadcrumb in page.breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
			{% endfor %}
				<li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
			</ol>
			</nav>
		</div>
		{{ content }}
		<footer class="footer bg-dark p-3">
			<div class="container">
				<div class="row">
					<div class="col-md-3 order-1">
						<h2 class="h5">Contact</h2>
						{% assign location = site.scs.locations[0] %}
						<p>
							{{ site.scs.name }}<br/>
							{{ location.address | newline_to_br }}
						</p>
						<p><a href="tel:{{ site.scs.href_phone }}">{{ site.scs.phone}}</a></p>
						<p><a href="mailto:{{ site.scs.email }}">{{ site.scs.email }}</a></p>
					</div>
					<div class="col-md-3 order-2 order-md-3">
						<h2 class="h5">Links</h2>
						<nav>
					     <ul class="list-unstyled">
							<li>
								<a href="/">Home</a>
							</li>
							<li>
								<a href="/about/">About Us</a>
							</li>
							<li >
								<a href="/products/">Products</a>
							</li>
							<li>
								<a href="/platform/">Our Platform</a>
							</li>
							<li>
								<a href="/resources/">Resources</a>
							</li>
							<li>
								<a href="/contact/">Contact</a>
							</li>
						    <li>
								<a href="/About-South-Coast-Science-V6.pdf">Company Profile<img src="/images/office-file-pdf-1.svg" style="height: 2em; padding-left: 1em;" alt="PDF"></a>
							</li>
						</ul>
						</nav>
					</div>
					<div class="col-md-6 text-center order-3 order-md-2 d-flex justify-content-between flex-column">
						<div><img src="/images/SouthCoastLogo.svg" class="w-75" alt="South Coast Science logo" style="margin:1.75rem 0;"></div>
						<p>
							<small>
								South Coast Science Limited is registered in England, company number 10235767.<br/>
								VAT number GB 250 1244 55.
							</small>
						</p>
					</div>
				</div>
			</div>
		</footer>

		<script>
			var data = [];
      var values = [];
      var apiKey = "okS6dj4qG09QxJlIom7d94iRpm3fETZQ7AvQt6mv";
			
			
			document.addEventListener("DOMContentLoaded", function(event) {       
				google.charts.load("current", { packages: ["corechart"] });
				google.charts.setOnLoadCallback(fetchData);

				window.addEventListener('resize', drawChart);
      });

      function fetchData(){
      	var xhr = window.XMLHttpRequest
	        ? new XMLHttpRequest()
	        : new ActiveXObject("Microsoft.XMLHTTP");

	      xhr.open(
	        "GET",
	        "https://oofas4y3jj.execute-api.eu-west-2.amazonaws.com/dev/"
	      );
	      xhr.onreadystatechange = function() {
	        if (xhr.readyState > 3 && xhr.status == 200) {
	          data = JSON.parse(xhr.responseText);
	          for (var i = 0; i < data.length; i++) {
	            values.push(data[i][1]);
	          }
	          drawChart();
	        } else if (xhr.status == 404) {
	          alert("There was a problem retrieving graph data");
	        } else if (xhr.status != 200) {
	          //some other problem
	        }
	      };
	      xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
	      xhr.setRequestHeader("x-api-key", apiKey);
	      xhr.send();
      }

      function drawChart() {
        var chartData = new google.visualization.DataTable();
        chartData.addColumn("datetime", "Time");
        chartData.addColumn("number", "ppb");
        for (var i = 0; i < data.length; i++) {
          chartData.addRow([new Date(data[i][0]), data[i][1]]);
        }

        var options = {
          title: "PM\u2081\u2080 concentration",
          seriesType: "line",
          legend: { position: "bottom" },
          series: {
            0: { color: "#CCC", lineWidth: 2.0, visibleInLegend: false },
            1: { color: "#000000" }
          },
          vAxes: {
            0: {
              title: "\u00B5g/m\u00B3",
              viewWindowMode: "explicit"
            }
          },
          hAxis: {
            format: "yyyy-MM-dd HH:mm"
          },
          max: Math.round(getMaxValue()),
          min: Math.round(getMinValue())
        };

        var chart = new google.visualization.ComboChart(
          document.getElementById("graph")
        );

        chart.draw(chartData, options);
      }
      function getMaxValue() {
        return Math.max.apply(null, values) + 1;
      }
      function getMinValue() {
        return Math.min.apply(null, values) - 1;
      }
			

		</script>
</body>

</html>